{% extends 'registration/template.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'registration/main.css' %}" >
{% endblock %}

{% block title %}
Confirm
{% endblock %}

{% block content %}
<div class="form-container confirm">
<form method="post">
    {% csrf_token %}
    <div class="form-row">
        {% for field in form %}
            {{ field.label_tag|cut:":" }}{{ field }}
            {% if field.errors %}
                {{field.errors}}
            {% endif %}
        {% endfor %}
    </div>
    <input class="submit-form" type="submit" value="✔">
</form>
</div>

{% endblock %}