{% extends 'registration/template.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block title %}
    Registration
{% endblock %}

{% block content %}
<!-- <div class="wrapper">
    <div id="alert-message" class="alert-success">
        {% for message in messages %}
            {{message}}
        {% endfor %}
    </div>
<div class="container">
    <a href="{% url 'registration:login' %}">⮞</a>
    <form method="post" autocomplete="off">
        {% csrf_token %}
        {% for field in form %}
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
        {% endfor %}
        <button type="submit">✔</button>
    </form>
</div>
</div>
 -->
<h1>
    Registration <b>⮞</b>
    <a href="{% url 'registration:login' %}">Login</a><b> ⮞</b>
    <a href="{% url 'main:create-user-profile'%}">Profile</a>
</h1>
<div class="form-container" style="height: 480px;;">
    <h2>Create new account</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-row">
                {{ field.label_tag|cut:":"}}{{ field }}
                {% if field.errors %}
                    {{ field.errors}}
                {% endif %}
            </div>
        {% endfor %}
        <input class="submit-form" type="submit" value="✔">
    </form>
</div>
{% endblock %}