{% extends 'registration/template.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'registration/main.css' %}">
{% endblock %}

{% block title %}
Registration
{% endblock %}

{% block content %}
<div class="wrapper">
<div class="container">
    <a href="{% url 'registration:login' %}">⮞</a>
    <form method="post" autocomplete="off">
        {% csrf_token %}
        {% for field in form %}
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
        {% endfor %}
        <button type="submit">✔</button>
    </form>
</div>
</div>
{% endblock %}