:root {
    --color-bg-page: #FFF5E4;
    --color-bg-container: #FFE3E1;
    --color-border: #FFD1D1;
    --color-text-main: #FF9494;
    --color-input-text: #FFD1D1;
    --color-input-bg: white;
    --color-btn-hover: #fdc6c6;
    --shadow-text: 1px 1px 1px black;
    --shadow-input: 1px 1px 2px #000000;
}

html, body {
    background-color: var(--color-bg-page);
}

.profile-container {
    max-width: 80%;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFE3E1;
    padding: 20px;
    margin-top: 20vh;
}

.profile-container-item {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    font-size: 0;
}

.profile-container-item .field-name,
.profile-container-item .field-value {
    display: inline-block;
    width: 50%;
}

.profile-container-item .field-name {
    font-size: 24px;
    text-align: left;
}

.profile-container-item .field-value {
    text-align: right;
    font-size: 18px;
}


.profile-container-item .field-error {
    display: block;
    margin-top: 5px;
    color: red;
    font-size: 12px;
}


input[type="file"]::file-selector-button {
    display: none;
}

.profile-container button {
    display: block;
    margin: 20px auto;
}