:root {
    --color-bg-page: #FFF5E4;
    --color-bg-container: #FFE3E1;
    --color-border: #FFD1D1;
    --color-text-main: #FF9494;
    --color-input-text: #FFD1D1;
    --color-input-bg: white;
    --color-btn-hover: #fdc6c6;
    --shadow-text: 1px 1px 1px black;
    --shadow-input: 1px 1px 2px #000000;
}

html, body {
    background-color: var(--color-bg-page);
}

.profile-container {
    max-width: 80%;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFE3E1;
    padding: 20px;
    margin-top: 50px
}

.profile-container-item {
    display: inline-block;
}

/* .profile-container-item label {
    background-color: red;
}

.profile-container-item input {
    background-color: gray;
}

.profile-container-item-interests {
    display: block;
    background-color: #9c4f4f;
} */

.profile-input {
    background-color: rebeccapurple;
}