{% extends 'main/template.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/user-profile.css' %}">
{% endblock %}

{% block title %}
    Create user profile
{% endblock %}

{% block content %}
<div class="profile-container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in userprofilename_form %}
            <div class="profile-container-item">
                {{ field.label_tag }}        
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}

        {% for field in userprofile_form %}
            <div class="profile-container-item {% if field.name == 'interests'%} profile-container-item-interests {% endif %}">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</div>
</div>
<script src="{% static 'django_select2/django_select2.js' %}"></script>
{% endblock %}