{% extends 'main/template.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/user-profile.css' %}">
{% endblock %}

{% block title %}
    Create user profile
{% endblock %}

{% block content %}
<div class="wrapper">
<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in userprofilename_form %}
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
            <br><br>
        {% endfor %}

        {% for field in userprofile_form %}
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
            <br><br>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</div>
</div>
<script src="{% static 'django_select2/django_select2.js' %}"></script>
{% endblock %}